{% extends 'base.html' %}

{% block content %}
<main>
  <div class="container">
    <div class="table-responsive text-nowrap">
      <h2>Order Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item price</th>
          </tr>
        </thead>
        <tbody>
          {% for order_item in object.items.all %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.item.title }}</td>
            <td>
              {% if order_item.item.discount_price %}
              {{ order_item.item.discount_price }}
              {% else %}
              {{ order_item.item.price }}
              {% endif %}
            </td>
            <td>
              <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i
                  class="fas fa-minus mr-2"></i></a>
              {{ order_item.quantity }}
              <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
              {% if order_item.item.discount_price %}
              ${{ order_item.get_total_discount_item_price }}
              <span class="badge badge-primary pt-1">Saving ${{ order_item.get_amount_saved }}</span>
              {% else %}
              ${{ order_item.get_total_item_price }}
              {% endif %}

              <a href="{% url 'core:remove-from-cart' order_item.item.slug %}"><i class="fas fa-trash float-right"
                  style="color: red;"></i></a>

            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">Your cart is empty</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td colspan="1"><b>${{ object.get_total }}</b></td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="{% url 'core:checkout' %}" class="btn btn-warning float-right ml-2">Proceed to checkout</a>
              <a href="/" class="btn btn-primary float-right ml-2">Continue shopping</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}